*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card{
    height: 450px;
    width: 300px;
    background-color: #fff;
    border-radius: 10%;
    padding: 20px;
    text-align: center;
    
}
#card img{
    height:50% ;
    border-radius: 10%;
}
#card h1{
    margin: 10px;
    font-size: 100;
}
#card h5 {
    color: red;
    font-size: 25px;
    margin: 10px;
}
#card button{
    background-color: lightblue;
    padding: 5px 10px;
    border-radius: 50px;
    margin : 5px;
    cursor: pointer;

}
/* #card #remove{
background-color: rgb(220, 122, 122);
color: black;
} */