*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
}

button{
    background-color: aquamarine;
    border-radius: 15px;
    border: 2px solid white ;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 10;
}


button:active{
    scale: 0.9;
}