*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}


:root{
    --x : 400px;
    --y :300px;
}
#box{
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    position: absolute;
    /* background: linear-gradient(to bottom right, white,red, black); */
    background: radial-gradient(250px at var(--x) var(--y), rgba(255, 255, 255, 0) , rgb(0, 0, 0));
}

main video{
    height: 100%;
    width: 100%;
}